@model IEnumerable<Expence_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None">
            <e-grid-columns>
                <e-grid-column headertext="Category" field="Title"></e-grid-column>
                <e-grid-column headertext="Type" field="Type"></e-grid-column>
                <e-grid-column headertext="Actions"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
            <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
                <i class="fa-solid fa-shapes fa-2xl"></i>
            </div>
        </div>
</div>
